/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/app/SymfonyRequirements.php
.idea
composer.lock
.DS_Store
build/
*.php~
*.orig
*.php.*
*.swp
*.swo
*.swn
web/css
web/js
web/data
build/
nbproject
app/*.cache